.body{
    width: 30%;
    margin: 100px auto 0;
}

h1{
    text-align: center;
    margin-bottom: 40px;
    font-family: Arial, Helvetica, sans-serif;
}

input{
    width: 95%;
    display: block;
    margin-bottom: 30px;
    padding: 10px;
    border-radius: 8px;
    border-width: 1px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.pass-container {
    position: relative;  
}

.pass-container input{
    margin: 0;  
}

.toggle-icon{
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 24px;
    cursor: pointer;
}

button[type='submit']{
    width: 100%;
    margin-top: 30px;
    padding: 10px;
    border-radius: 5px;
    border-width: 0px;
    background-color: blueviolet;
    color: white;
    cursor: pointer;
}

.afterform{
    width: 100%;    
}

.enter-in,.forgot-pass{
    text-align: center; 
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;  
}

.enter-in{
    padding: 15px;
}

.forgot-pass{   
    padding-top: 10px;
}

.enter-in a,.forgot-pass a{
    color: blue;
}

a{
    text-decoration: none;
    color: inherit;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
.line {
    flex-grow: 1;
    height: 0.5px;
    background-color: black;
  }
  
.text {
    margin: 0 10px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

.btn-facebook, .btn-google {
    display: flex; 
    align-items: center; 
    justify-content: center; 
    width: 100%;
    align-items: center;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    font-weight:bold;
}

.btn-facebook {
    background-color:#039BE5;
    color: white;
    
}

.btn-google {
    background-color: white;
    color: black;
    border: 1px solid #ccc;
}

.btn-facebook img, .btn-google img {
    margin-right: 10px;
    width: 20px;
    height: 20px;
}

@media (max-width: 480px) {
.body{
    width: 70%;
    margin: 100px auto 0;
}

input{
    width: 92.5%;
    display: block;
    margin-bottom: 30px;
    padding: 10px;
    border-radius: 8px;
    border-width: 1px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
}
