a:link
 {
    color:#518989; 
    text-decoration:none
}
a:visited 
{
    color:#206d94; 
    text-decoration:none
}
a:hover 
{
    color:#49494d; 
    text-decoration:underline
}
a:active {
    color:#000000; 
    text-decoration:underline
}

header, footer{
    height: 80px; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    background-color: #9f8189; 
    color: #000000;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
}

main{
    height: 500px; 
    justify-content: center; 
    align-items: center; 
    background-color: #f3abb6; 
    color: #000000;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
}

.tudysudy{
    background: #ffcad4;
    border-color: #f3abb6;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
    font-size: 15px;
}

table, td{
    border-collapse: collapse;
    border-style: solid;
    border-width: 1px;
}

.images{
    display: flex;
    justify-content: center;
}

.image{
    width: 300px; 
    overflow: hidden;
    float: left;
    
}

.image img {
    max-width: 100%;
    height: auto;
}
